.menu {
    padding-left: 50px;
}

.menu li {
    display: inline;
    padding-right: 20px;
}


.container__body {
    width: 700px;
}

.container__body__create, .container__body__table, .table {
    width: 100%;
}

.create {
    float: right;
}

.table, .table th, .table td {
    border: solid slategrey 1px;
    border-collapse: collapse;
}

.table td {
    text-align: center;
}

.table__link {
    width: 60px;
}

.form__row {
    margin-bottom: 10px;
}

.form__row__label {
    display: inline-block;
    width: 100px;
}